<template name="changePassword">
  <div class="row">
    <div class="col s12 m12">
      <h6>Change your password</h6>
      <div class="row">
	<form class="col s12">
	  <div class="row">
	    <div class="input-field col s12">
	      <input name="oldPassword" type="password" class="validate">
	      <label for="password">Current Password</label>
	    </div>
	  </div>
	  <div class="row">
	    <div class="input-field col s12">
	      <input name="password" type="password" class="validate">
	      <label for="password">New Password</label>
	    </div>
	  </div>
	  <div class="row">
	    <div class="input-field col s12">
	      <input name="passwordAgain" type="password" class="validate">
	      <label for="password">New Password (again)</label>
	    </div>
	  </div>
	  <a data-action="changePassword" class="waves-effect waves-light btn-large green accent-3">Save New Password</a>
	</form>
      </div>
    </div>
  </div>
</template>
